/* .App {
  text-align: center;
} */

.displayText {
  font-family: 'Markarzi';
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subTitleText {
  font-family: 'Markarzi';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leadText {
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttonText {
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardTitleText {
  font-family: 'Markazi';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
  overflow: hidden;
  max-height: 100%;
}

.cardBodyText {
  color: #495E57;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  max-height: 100%;
}

.orderADeliveryText {
  color: #333;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#thisWeeksSpecialsText {
  font-family: 'Markazi';
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#testimonialsText {
  color: #333;

  /* H2 */
  font-family: 'Markazi';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.testimonialCardTitleText {
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.testimonialReviewText {
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 100%;
}

.aboutText {
  width: 370px;
  height: 322px;
  text-align: justify;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footerTitleText {
  color: #495E57;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

a.footerText {
  color: #333;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 0.5px ;
}

.priceText {
  color: #EE9972;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.yellowText {
  color: #F4CE14;
}

.yellowBackground {
  background-color: #F4CE14;
}

.greenText {
  color: #495E57;
}

.greenBackground {
  background-color: #495E57;
}

.lightGrayBackground {
  background-color: #EDEFEE;
}

.grayBackground {
  background-color: #D9D9D9;
}

.whiteText {
  color: #FFFFFF;
}

.specialsImage {
  width: 264.667px;
  height: 185.258px;
  object-fit: cover;
}

a {
  text-decoration: underline;
}